.layout-container{
  // 
}

.layout-header{
  margin: 0 auto;
}

@media (min-width: 1260px) {
  .layout-header{
    max-width: 1170px;
  }
}

@media (min-width: 1500px) {
  .layout-header{
    max-width: 1410px;
  }
}

