.app-container{
  background-color: #f5f5f5;
  overflow-x: hidden;
}

[contenteditable]:empty:after, .forcePlaceholder:after {
  content: attr(placeholder);
}
[contenteditable]{
  -webkit-tap-highlight-color: transparent;
}